*.dll
*.pdb
obj/**
bin/**
runtimes/**
*.user
*.PublishSettings
publish.cmd
packages/
.vs/
customdeploy/code.zip
/timmybot-web-src/bin
/timmybot-web-src/obj
/AnswerExtraction/bin/Debug/netcoreapp3.1
/AnswerExtraction/obj
/Files/bin/Debug/net5.0
/Files/obj
